.catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.catalog__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  padding: 17px 20px 28px 20px;
}

.catalog__add {
  padding-top: 44px;
}

@media (min-width: @tablet) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px 20px;
    padding-top: 5px;
  }

  .catalog__add {
    padding-top: 95px;
  }

  .catalog__header {
    font-size: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
  }
}

@media (min-width: @desktop) {
  .catalog {
    margin: 5px 0 50px;
    padding: 10px 110px 0;
  }

  .catalog__header {
    padding: 0;
    margin: 0;
  }

  .catalog__add {
    padding-top: 69px;
  }
}
