.catalog-more {
  padding: 25px 20px 20px;
  border-bottom: 1px solid @border-bottom;
}

.catalog-more__img {
  display: block;
  margin: 0 auto;
  padding: 0 0 25px 0;
  opacity: 0.3;
}

.catalog-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px;
  padding: 0;
}

.catalog-more__text {
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 0 0 20px 0;
}

.catalog-more__button {
  width: 100%;
  display: block;
  background-color: lightgrey;
  color: black;
}

@media (min-width: @desktop) {
  .catalog-more {
    background-color: tomato;
    display: block;
    box-sizing: border-box;
    width: 324px;
    padding: 0 39px 40px;
  }
}

