.catalog-extra {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 20px 5px;
  padding: 26px 0 0;
}

.contacts--catalog {
  background-color: @grey;
}

.catalog-extra__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 35px;
  padding: 0;
  border-bottom: 1px solid @border-bottom;
  position: relative;
}

.catalog-extra__header::after {
  position: absolute;
  content: "";
  width: 300px;
  z-index: -1;
  height: 3px;
  background-color: green;
  left: 0;
  top: 15px;
}

.catalog-extra__header span {
  background-color: white;
  padding: 0 22px 0 0;
}

.catalog-extra__wrapper {
  margin-bottom: 42px;
  padding: 0;
}

.catalog-extra__allwrapper {
  padding: 0;
  margin: 0;
}

.catalog-extra__item {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet) {
  .catalog-extra {
    margin: 0 0 75px;
    padding: 12px 0 0;
  }

  .catalog-extra__wrapper {
    margin-bottom: 66px;
  }

  .catalog-extra__item {
    padding: 0;
    margin: 0;
  }

  .catalog-extra__header {
    font-size: 36px;
    padding-left: 30px;
    border: none;
    margin: 0 0 86px;
    position: relative;
  }

  .catalog-extra__header span {
    background-color: white;
    padding: 0 39px;
  }

  .catalog-extra__header::after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: -1;
    height: 3px;
    background-color: green;
    left: 0;
    top: 15px;
  }

  .contacts--catalog {
    background-color: @grey;
  }
}

@media (min-width: @desktop) {
  .catalog-extra {
    margin: 0 0 74px;
    padding: 0;
  }

  .catalog-extra__item {
    margin: 0;
    padding: 0;
  }

  .catalog-extra__allwrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 110px;
    padding: 0;
  }

  .catalog-extra__wrapper {
    margin: 0 0 10px;
    display: flex;
    flex-direction: column;
    width: 895px;
    padding: 5px 0 0 0;
  }

  .catalog-extra__header {
    margin: 0 0 82px 40px;
  }

  .catalog-extra__header::after {
    width: 1500px;
    left: -100px;
  }

  .catalog-extra__wrapper article:last-child {
    border-bottom: 1px solid lightgrey;
  }
}
