.example {
  padding: 29px 0 0;
  margin: 0;
  width: 100%;
  background-color: @example-bg;

  @media (min-width: @tablet) {
    padding: 14px 0 73px 0;
    background: linear-gradient(to top, @example-bg 30%, #ffffff 70%);
  }

    @media (min-width: @desktop) {
    padding: 0;
    background: linear-gradient(to top, @example-bg 78%, #ffffff 22%);
  }
}

.example__allwrapper {
  @media (min-width: @desktop) {
    width: 1220px;
    display: flex;
    margin: 0 auto;
  }
}

.example__wrapper {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet) {
    width: 768px;
  }

  @media (min-width: @desktop) {
    width: 610px;
    margin: 0;

  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 0 20px 0;
  margin: 0 0 35px 0;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
    margin: 0 0 61px;
  }

  @media (min-width: @desktop) {
    padding: 0;
    margin: 0 0 144px;
  }
}

.example__descript {
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 25px;
  padding: 0 28px 0 20px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 35px 0 30px;
    margin: 0 0 55px;
  }

  @media (min-width: @desktop) {
    padding: 0;
    margin: 0 0 69px;
    width: 430px;
  }
}

.example__advantages {
  @media (min-width: @tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 88px;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
    margin: 0;
    padding: 0 0 64px 0;
  }
}

.example__advantages--wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 280px;
  justify-content: space-between;
  margin: 0 20px 0;

  @media (min-width: @tablet) {
    display: flex;
    width: 386px;
    padding: 0;
  }

  @media (min-width: @desktop) {
    display: flex;
    width: 366px;
    padding: 0;
    margin: 0 0 35px 0;
  }
}

.example__list {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    margin: 0 10px 0;
  }

  @media (min-width: @desktop) {
    margin: 0;
    padding: 0;
  }
}

.example__item-title {
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 15px 0 19px;
  width: 123px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 30px;
    box-sizing: border-box;
    display: block;
    width: 162px;
    padding-top: 22px;
    padding-bottom: 27px;
  }
}

.example__item-text span {
  text-align: center;
  width: 58px;
  margin-top: -10px;
  font-size: 12px;
  line-height: 12px;
  background-color: @example-bg;
  margin-bottom: 20px;
  display: block;

  @media (min-width: @tablet) {
    background-color: #ffffff;
    width: 135px;
    font-size: 14px;
    margin-top: -7px;
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: @desktop) {
    background-color: @example-bg;
  }
}

.example__advantages-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0 0 25px;
  padding: 0 0 10px;

  @media (min-width: @tablet) {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    width: 177px;
    text-align: right;
    margin: 0 30px 0 0;
    align-self: bottom;
    padding-top: 14px;
  }

  @media (min-width: @desktop) {
    width: 370px;
    text-align: left;
  }
}

.example__advantages-text span {
  @media (min-width: @tablet) {
    padding: 10px 0 0 0;
    display: block;
  }

  @media (min-width: @tablet) {
    display: inline-block;
    margin: 0 0 0 60px;
  }
}

.example__img-container {
  margin-bottom: 30px;
  display: block;

  @media (min-width: @tablet) {
    margin: 0 0 15px;
  }
}

.example__before-after {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 0 55px 36px;

  @media (min-width: @tablet) {
    font-size: 20px;
    padding: 0 90px;
    margin: 0;
  }

  @media (min-width: @desktop) {
    width: 620px;
    margin: 0 0 0 15px;
    padding: 0;
  }
}

.example__before,
.example__after {
  border: none;
  text-transform: uppercase;
  background-color: @example-bg;

  @media (min-width: @desktop) {
    padding: 0 24px;
  }
}

.example__slider {
  width: 84px;
  border: 1px solid #cdcdcd;
  border-radius: 15px;
  background-color: white;
  height: 14px;
  padding: 3px 6px;

  @media (min-width: @tablet) {
    width: 430px;
    background-color: #dcdcdc;
    border: none;
    height: 6px;
    margin-top: 9px;
    position: relative;
  }
}

.example__slider-inner {
  width: 35px;
  background-color: #68b738;
  height: 6px;
  border-radius: 15px;

  @media (min-width: @tablet) {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    padding-bottom: 20px;
    position: absolute;
    top: -14px;
    left: 200px;
    background-color: #ffffff;
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3);
  }
}

.example__slider-inner:hover {
  @media (min-width: @tablet) {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  }
}

.example__slider-inner:active {
  @media (min-width: @tablet) {
    border: 1px solid #68b738;
  }
}

.example__slider-inner::after {
  @media (min-width: @tablet) {
    border-radius: 50%;
    background-color: #68b738;
    width: 8px;
    height: 8px;
    z-index: 2;
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
  }
}

.example__img {
  width: 320px;
  height: 240px;

  @media (min-width: @tablet) {
    margin: 0 auto;
    width: 677px;
    height: 515px;
    display: block;
  }

  @media (min-width: @desktop) {
    margin: -50px 0 39px -25px;
    width: 677px;
    height: 510px;
  }
}
