.form {
  padding: 36px 20px 30px 20px;
}

.form__wrapper {
  margin: 0 auto;
  width: 320px;
}

.form__header {
  font-family: "Oswald", "Arial Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding: 0;
  margin: 0 20px 46px;
  color: #222222;
  display: inline-block;
}

.form__descript {
  font-family: "Oswald", "Arial Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  width: 250px;
  margin: 0 0 40px;
  padding: 0;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;

  &--cat {
    margin: 0 20px 17px;
  }

  &--radio {
    padding: 7px 0 0;
    font-size: 16px;
    margin-bottom: 46px;
  }

  &--contacts {
    margin: 0 20px 10px;
  }

  &--comments {
    margin: 0 20px 10px;
  }

  &--add {
    margin: 0 20px;
  }
}

.form__title {
  font-family: "Oswald", "Arial Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: inline-block;

  &--contacts {
    margin: -17px 0 31px 0;
    padding: 0 0 0 20px;
    width: 220px;
  }

  &--comments {
    margin: -18px 0 34px 0;
    padding: 0 21px 0 20px;
    vertical-align: middle;
  }

  &--add {
    margin: -17px 0 40px 0;
    padding: 0 23px 0 20px;
    vertical-align: middle;
  }
}

.form__comment {
  padding-top: 20px;
}

.form__add {
  padding-top: 34px;
}

.form__label {
  font-family: "Oswald", "Arial Regular", sans-serif;
  font-size: 16px;
  color: #222222;

  &--cat-age {
    width: 94px;
    margin-right: 0;
  }

  &--phone {
    margin-right: 10px;
  }
}

.form__icon-wrapper {
  position: relative;
}

.form__icon {
  &--mail {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: -9px;
    left: -34px;
  }

  &--phone {
    position: absolute;
    content: "";
    width: 20px;
    height: 22px;
    top: -12px;
    left: -34px;
  }
}

.form__list {
  font-family: "Oswald", "Arial Regular", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  color: #222222;

  &--cat {
    margin-bottom: 0;
  }

  &--radio {
    padding: 25px 0 0 40px;
    border: 1px solid #e6e6e6;
    width: 320px;
    margin: 0 auto;
  }

  &--add {
    padding: 0 20px;
    margin-bottom: 13px;
  }
}

.form__input::placeholder {
  font-family: "Oswald", "Arial Regular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
}

.form__input {
  box-sizing: border-box;

  border: 1px solid #e6e6e6;
  padding: 15px 11px;
  flex-grow: 2;
  color: #111111;
  font-size: 16px;
  text-transform: uppercase;

  &--cat {
    margin-left: 12px;
    padding: 14px 15px 13px;
  }

  &--cat-age {
    width: 173px;
  }

  &--phone {
    margin-left: 0;
    width: 204px;
    padding: 15px 30px 12px 15px;
  }

  &--mail {
    margin-left: 11px;
    padding: 14px 30px 13px 14px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px #444444;
    box-sizing: border-box;
  }

  &:invalid {
    box-shadow: inset 0 0 0 2px #ff8282;
    box-sizing: border-box;
  }
}

.form__item {
  display: flex;
  align-items: center;

  &--cat {
    margin-bottom: 10px;
  }

  &--cat:last-child {
    margin-bottom: 0;
  }

  &--radio {
    padding: 0 0 25px;
  }

  &--add {
    padding: 0 0 25px;
  }

  &--contacts {
    margin: 0 0 11px;
  }
}

.form__radio-label {
  margin-left: 25px;
  position: relative;
}

.form__list--radio input {
  margin: 0;
  padding: 0;
}

.form__textarea-comments {
  width: 280px;
  padding: 12px 10px 10px 15px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial Regular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e6e6e6;
  resize: none;
  min-height: 150px;
}

.form__button {
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  margin: 0 0 20px;
}

.form__required {
  margin: 0 auto;
  text-align: center;
}

.form__checkbox {
  font-size: 16px;
  margin-left: 25px;
  position: relative;
}

.form__input--radio + .form__radio-label::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -46px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cecece;
  box-sizing: border-box;
}

.form__input--radio + .form__radio-label:hover::after {
  border: 1px solid #bcbcbc;
}

.form__input--radio + .form__radio-label:active::after {
  border: 1px solid #ececec;
}

.form__input--radio:checked + .form__radio-label::before {

  background-color: #68b738;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 3px;
  left: -37px;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}

.form__input--radio:checked:active + .form__radio-label::before {
  background-color: #d1e9c3;
}

.form__radio-label:active {
  color: #222222;
  opacity: 0.3;
}

.form__item--add input[type="checkbox"] + .form__checkbox::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.form__item--add input[type="checkbox"]:checked + .form__checkbox::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 34px 34px;
  content: "";
  position: absolute;
  top: -5px;
  left: -53px;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
}


@media (min-width: @tablet) {
  .form {
    padding: 25px 0 75px;
  }

  .form__wrapper {
    width: 628px;
  }

  .form__header {
    font-size: 60px;
    padding: 0;
    margin: 0 0 75px -40px;
  }

  .form__descript {
    font-size: 20px;
    line-height: 30px;
    width: 370px;
    margin: 0 0 67px;
  }

  .form__fieldset {
    &--cat {
      margin: 0 0 70px 0;
    }

    &--radio {
      margin: 0 0 50px;
      padding: 0;
    }

    &--contacts {
      margin: 0;
    }

    &--comments {
      margin: 0 0 20px;
    }

    &--add {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .form__title {
    font-size: 36px;
    vertical-align: middle;

    &--contacts {
      margin: -20px 0 82px -40px;
      padding: 0 40px 0;
      width: auto;
    }

    &--comments {
      padding: 0 40px 0;
      margin: -20px 0 83px -40px;
    }

    &--add {
      margin: -20px 0 70px -40px;
      padding: 0 40px 0;
    }
  }

  .form__contacts {
    padding-top: 50px;
  }

  .form__comment {
    padding-top: 65px;
  }

  .form__add {
    padding-top: 66px;
  }

  .form__label {
    font-size: 20px;
    position: relative;

    &--cat-age {
      width: 122px;
    }
  }

  .form__input::placeholder {
    font-size: 20px;
  }

  .form__item {
    margin-bottom: 26px;

    &--cat {
      margin-bottom: 18px;
    }

    &--radio {
      margin-bottom: 35px;
      padding-bottom: 0;
    }

    &--contacts {
      margin-bottom: 20px;
      padding-bottom: 0;
    }

    &--add {
      width: 244px;
      margin: 0 0 26px 0;
      padding-bottom: 28px;
    }
  }

  .form__list {
    &--cat {
      margin-bottom: 0;
    }

    &--radio {
      width: 630px;
      margin: 0 auto;
      border: 1px solid #e6e6e6;
      font-size: 20px;
      padding: 33px 0 0 50px;
    }

    &--add {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 5px;
      margin-bottom: 11px;
    }
  }

  .form__add-wrapper {
    display: flex;
  }

  .form__input {
    padding: 16px 15px 17px;

    &--cat {
      margin-left: 18px;
    }

    &--cat-weight {
      margin-left: 20px;
    }

    &--mail {
      margin-left: 20px;
      padding-left: 20px;
    }

    &--phone {
      padding-left: 20px;
    }
  }






  .form__item--add input[type="checkbox"] + .form__checkbox::after {
    content: "";
    position: absolute;
    top: -11px;
    left: -45px;
    width: 40px;
    height: 40px;
  }

  .form__item--add input[type="checkbox"]:checked + .form__checkbox::before {

    background-image: url("../img/tick.svg");
    content: "";
    position: absolute;
    top: -9px;
    left: -48px;
    width: 125px;
    height: 125px;

    box-sizing: border-box;
  }





  .form__title--comments span {
    background-color: white;
    padding: 0 37px;
    margin-left: -38px;
  }

  .form__textarea-comments {
    min-height: 175px;
    width: 630px;
    font-size: 20px;
    padding: 15px 20px;
    margin-bottom: 0;
  }

  .form__checkbox {
    font-size: 20px;
    padding-left: 15px;
  }

  .form__button {
    width: 284px;
    font-size: 20px;
    margin: 0;
    padding: 15px 0 16px;
  }

  .form__required {
    margin: 0 0 0 50px;
    width: 200px;
    display: block;
    font-size: 16px;
    padding-top: 15px;
  }

  .form__radio-label {
    padding-left: 12px;
  }

  .form__radio-label:active,
  .form__checkbox:active {
    opacity: 0.3;
  }

  .form__input--radio + .form__radio-label::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -46px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
  }

  .form__input--radio:checked + .form__radio-label::before {

    background-color: #68b738;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 2px;
    left: -36px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop) {
  .form {
    padding: 30px 0 0 0;
  }

  .form__wrapper {
    width: 1220px;
  }

  .form__descript {
    margin: 0 0 65px;
    padding: 0;
  }

  .form__header {
    margin: 0 0 77px;
    padding: 0;
  }

  .form__fieldset-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .form__fieldset {
    margin: 0;
    padding: 0;

    &--cat {
      margin: 0 80px 0 0;
      padding: 0;
      width: 570px;
    }

    &--radio {
      margin: 125px 0 0 0;
      padding: 0;
    }

    &--contacts {
      margin-bottom: 2px;
    }

    &--comments {
      margin-bottom: 20px;
    }

    &--add {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 82px;
    }
  }

  .form__title {
    &--comments {
      margin-bottom: 85px;
    }
  }


  .form__list {
    margin: 0;

    &--radio {
      padding: 35px 0 0 45px;
      width: 570px;
    }

    &--contacts {
      padding: 0;
      margin: 0;

      display: flex;
      flex-direction: row;
    }

    &--add {
      margin-bottom: 45px;
      display: flex;
      justify-content: space-between;
      width: 1220px;
    }
  }

  .form__item {
    margin-bottom: 20px;

    &--cat {
      margin-bottom: 18px;
    }

    &--radio {
      padding: 0 0 15px 0;
    }

    &--contacts {
      width: 570px;
      margin-right: 80px;
    }

    &--add {
      width: 200px;
      margin: 0;
    }

    &--add:last-child {
      margin-right: 7px;
    }
  }

  .form__input {
    padding: 16px 17px 18px;

    &--cat {
      padding: 16px 17px 18px;
      margin: 0 0 0 17px;
    }

    &--cat-weight {
      margin: 0 0 0 21px;
    }

    &--mail {
      margin: 0 0 0 16px;
    }

    &--phone {
      margin: 0 0 0 9px;
    }
  }

  .form__item--contacts label {
    margin-right: 6px;
  }

  .form__button {
    width: 570px;
    margin: 0 80px 0 0;
  }

  .form__textarea-comments {
    width: 1220px;
    padding-top: 12px;
  }

  .form__required {
    margin-left: -10px;
  }

  .form__radio-label {
    padding: 0 0 0 18px;
  }

  .form__input--radio + .form__radio-label::after {
    top: -10px;
    left: -42px;
    width: 40px;
    height: 40px;
  }

  .form__input--radio:checked + .form__radio-label::before {
    top: 1px;
    left: -31px;
    width: 18px;
    height: 18px;
  }

  .form__item--add input[type="checkbox"]:checked + .form__checkbox::before {
    top: -5px;
    left: -47px;
    width: 34px;
    height: 34px;
  }

  .form__label--mail::after {
    right: -490px;
  }

  .form__label--phone::after {
    right: -468px;
  }
}
