.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 20px 22px;
  position: relative;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px;
  }
}

.home__title,
.home__text {
  font-family: @font-regular;
  font-weight: 400;
  color: @grey;
  text-align: center;
  margin: 0;
  padding: 0;
}

.home__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 23px;
}

.home__text {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.home__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}

.home__button {
  width: 100%;
  font-size: 14px;
  padding: 10px 0;
}

@media (min-width: @tablet) {
  .home {
    background: none;
    display: flex;
    align-items: flex-start;
    padding: 2px 30px 0;
    margin-bottom: 532px;
  }

  .home__title {
    color: black;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 0 43px 86px;
    text-align: left;
    width: 420px;
  }

  .home__text {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 50px 90px;
    text-align: left;
  }

  .home__button {
    width: 245px;
    margin: 0 0 0 90px;
    font-size: 20px;
    order: 3;
    padding: 15px 0;
  }

  .home__img {
    width: 709px;
    top: 205px;
    left: 30px;
    z-index: -2;
    position: absolute;
  }
}

@media (min-width: @desktop) {
  .home {
    padding: 45px 80px 0;
    margin: 0 110px 271px;
  }

  .home::after {
    position: absolute;
    content: "";
    width: 720px;
    height: 720px;
    top: -178px;
    right: -110px;
    z-index: -3;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }
  }

  .home__title {
    margin: 0 0 40px;
  }

  .home__text {
    margin: 0 0 55px;
  }

  .home__button {
    margin: 0;
    font-size: 20px;
    padding: 15px 0;
  }

  .home__img {
    width: 550px;
    top: -35px;
    left: 450px;
  }
}
