.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 22px 22px;
  position: relative;
}

.home__title,
.home__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: @grey;
  text-align: center;
  margin: 0;
  padding: 0;
}

.home__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px;
}

.home__text {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.home__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.home__img-bg {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}

.home__button {
  width: 100%;
  font-size: 14px;
  padding: 10px 0;
}

@media (min-width: @tablet) {
  .home {
    background: none;
    display: flex;
    align-items: flex-start;
    padding: 5px 30px 0;
    margin-bottom: 532px;
  }

  .home__title {
    color: black;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 0 38px 85px;
    text-align: left;
    width: 420px;
  }

  .home__text {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 40px 90px;
    text-align: left;
  }

  .home__button {
    width: 245px;
    margin: 0 0 0 90px;
    font-size: 20px;
    order: 3;
    padding: 15px 0;
  }

  .home__img {
    width: 709px;
    top: 205px;
    left: 30px;
    z-index: -2;
    position: absolute;
  }

  .home__img-bg {
    display: none;
  }
}

@media (min-width: @desktop) {
  .home {
    padding: 35px 80px 0;
    margin: 0 110px 271px;
    position: static;
  }

  .home__title {
    margin: 0 0 40px;
  }

  .home__text {
    margin: 0 0 45px;
  }

  .home__button {
    margin: 0;
    font-size: 20px;
    padding: 15px 0;
  }

  .home__img {
    width: 552px;
    height: 499px;
    z-index: -1;
    top: 140px;
    left: 560px;
    position: absolute;
  }

  .home__img-bg {
    display: block;
    z-index: -2;
    position: absolute;
    left: 50%;
    width: 720px;
    height: 696px;
  }
}
