.home {
  display: flex;
  flex-direction: column;
  background: url("/img/index-background-mobile@1x.jpg") no-repeat;
}

.home__title,
.home__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: @white-color;
  text-align: center;
  margin: 0;
  padding: 0;
}

.home__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 25px;
  padding-bottom: 18px;
}

.home__text {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 36px;
}

.home__img {
  display: block;
  margin: 0 auto;
}

.home__button {
  width: 100%;
  margin: 0 auto;

  margin-bottom: 22px;
}

@media (min-width: @tablet) {
  .home {
    padding: 0 30px;
    background: none;
  }

  .home__descript {
    order: 1;
  }

  .home__img {
    background: url("/img/index-can-tablet@1x.jpg") no-repeat;
    width: 708px;
    height: 609px;
    order: 3;
    margin: -20px 0 0 0;
    z-index: -1;
  }

  .home__title {
    color: black;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 0 45px 90px;
    text-align: left;
    width: 420px;
  }

  .home__text {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 50px 90px;
    text-align: left;
    order: 2;
  }

  .home__button {
    width: 245px;
    order: 2;
    margin: 0 0 0 90px;
  }
}

@media (min-width: @desktop) {
  .home {
    padding: 0;
  }

  .home__title {
    margin: 0 195px 40px;
  }

  .home__text {
    margin: 0 195px 50px;
  }

  .home__button {
    margin: 0 195px;
  }
}
