.menu {
  list-style: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.menu__list {
  padding: 0;
  list-style: none;
}

.menu__item {
  border-top: 1px solid @border-top;
}

.menu__link {
  text-decoration: none;
  color: @menu-color;
  cursor: pointer;
  padding: 20px 0;
  display: block;
  outline: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet) {
  .menu {
    display: block;
    padding: 0;
    margin: 0;
  }

  .menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
  }

  .menu__item {
    margin: 0 0 0 35px;
    border: none;
    padding: 0;
  }

  .menu__link--current {
    padding-bottom: 11px;
    border-bottom: 2px solid #68b738;
    opacity: 1;
  }
}

@media (min-width: @desktop) {
  .menu__link {
    color: #ffffff;
    font-size: 20px;

    &:hover {
      color: #ffffff;
      opacity: 0.6;
    }

    &:active {
      color: #ffffff;
      opacity: 0.3;
    }
  }

  .menu__link--current {
    padding-bottom: 11px;
    border-bottom: 2px solid #ffffff;

    &:hover {
      opacity: 1;
    }
  }

  .menu__link--other {
    color: #111111;
    font-size: 20px;

    &:hover {
      color: #111111;
      opacity: 0.6;
    }

    &:active {
      color: #111111;
      opacity: 0.3;
    }
  }

  .menu__link--current-other {
    padding-bottom: 11px;
    border-bottom: 2px solid #68b738;

    &:hover {
      opacity: 1;
    }
  }
}
