.menu {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.menu__item {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0;
}

.menu__link {
  text-decoration: none;
  color: #000000;
}
