.menu {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.menu__item {
  border-top: 1px solid @border-top;
  border-bottom: 1px solid @border-bottom;
  padding: 20px 0;
}

.menu__link {
  text-decoration: none;
  color: @menu-color;
  cursor: pointer;

  &:hover {
    color: #949494;
  }

  &:active {
    border-bottom: 2px solid @link-border;
  }
}
