.page-header__container {
  width: 320px;
  margin: 0 auto;
}

.page-header__wrapper {
  display: flex;
  padding: 13px 20px 0;
  outline: none;
  margin: 0 0 10px;
}

.page-header__logo {
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

}

.page-header__logo-image {
  width: 192px;
  height: 39px;
}

.page-header__menu-toggle {
  background: url("../img/icon-close.svg") no-repeat;
  cursor: pointer;
  margin-left: auto;
  width: 18px;
  height: 18px;
  border: none;
  margin-top: 10px;
  outline: none;
}

.page-header__logo-header {
  width: 101px;
  height: 18px;
}

@media (min-width: @tablet) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 25px 30px 0;
    margin: 0 auto 40px;
  }

  .page-header__logo img {
    width: 174px;
    height: 58px;
  }

  .page-header__wrapper {
    padding: 0;
  }

  .page-header__img {
    background: url("../img/logo-tablet.svg") no-repeat;
    width: 202px;
    height: 59px;
  }

  .page-header__text {
    display: none;
  }

  .page-header__menu-toggle {
    display: none;
  }
}

@media (min-width: @desktop) {
  .page-header__logo img {
    width: 202px;
    height: 59px;
  }

  .page-header__img {
    background: url("../img/logo-desktop.svg") no-repeat;
    width: 202px;
    height: 59px;
  }

  .page-header__container {
    width: 1220px;
    margin: 55px auto 50px;
    padding: 0;
    display: flex;
  }
}
