.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 39px 20px;
  background-color: @grey;
}

.page-footer__logo {
  display: block;
  margin: 0 auto 25px;
  padding: 0;
  width: 130px;
}

.page-footer__social {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 100%;
}

.page-footer__academy {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.page-footer__academy a {
  color: grey;
  display: block;
}

.page-footer__academy-logo {
//СЮДА!!!!!!
}

@media (min-width: @tablet) {
  .page-footer {
    display: flex;
    width: 768px;
    background-color: @grey;
    padding: 50px 0 40px; //padding: 60px 30px 40px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 0 152px 0 30px;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__academy-logo {
    margin-left: 15px;
    width: 40px;
    height: 45px;
  }
}

@media (min-width: @desktop) {
  .page-footer {
    width: 1440px;
    padding: 55px 0 55px 79px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin-right: 390px;
  }

  .page-footer__social {
    margin-right: 350px;
  }

  .page-footer__container--catalog {
    padding-top: 5px;
  }
}
