.page-footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px 0;
  background-color: @grey;
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  width: 130px;
  padding-bottom: 30px;
}

.page-footer__wrapper {
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__academy-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer__academy {
  padding-top: 30px;
  color: @footer-font;
  text-decoration: none;
  font-family: "Arial Regular", sans-serif;
  font-size: 16px;
}

.page-footer__academy-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: @tablet) {
  .page-footer {
    background-color: @grey;
    padding: 30px 0 40px;
    margin: 0;
  }

  .page-footer__container {
    width: 768px;
    padding: 20px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
  }

  .page-footer__wrapper {
    margin: 0;
    padding: 0;
    border: none;
  }

  .page-footer__academy {
    margin-right: 20px;
    padding: 10px 0 0;
  }

  .page-footer__academy-logo {
    margin: 0;
    padding-top: 5px;
  }
}

@media (min-width: @desktop) {
  .page-footer__container {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
