.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 38px 0 38px 20px;
  background-color: @grey;
}

.page-footer__logo {
  display: block;
  margin: 0 0 25px 75px;
  padding: 0;
  width: 130px;
}

.page-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__academy {
  display: flex;
  align-items: center;
  margin-top: 16px;
  list-style: none;
  font-size: 16px;
  padding: 0;
}

.page-footer__academy a {
  color: #444444;
}

.page-footer__academy-logo {
  width: 40px;
  height: 44px;
  margin-left: 136px;
}

@media (min-width: @tablet) {
  .page-footer {
    display: flex;
    width: 768px;
    background-color: @grey;
    padding: 35px 0 40px; //padding: 60px 30px 40px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 0 152px 0 30px;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__academy-logo {
    margin-left: 15px;
    width: 40px;
    height: 45px;
  }
}

@media (min-width: @desktop) {
  .page-footer {
    width: 1440px;
    padding: 38px 0 55px 79px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin-right: 390px;
  }

  .page-footer__social {
    margin-right: 350px;
  }

  .page-footer__container--catalog {
    padding-top: 5px;
  }
}
