.page-header {
margin: 0;
padding: 0;
}

.page-header__logo {
  display: flex;
  padding: 10px 0 15px 20px;
}

.main-menu__list {
  list-style: none;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-menu__item {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 24px 0;
}

.main-menu__link {
  text-decoration: none;
  color: #000000;
}

.page-logo__img {

}

.page-logo__text {

}
