.product-extra-offer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 65px 0 45px;
  margin: 45px 0 30px;
  height: 289px;
  box-sizing: border-box;
   background-image: url("/img/gift-photo-mobile@1x.jpg");
   width: 280px;
   height: 289px;
   @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .product-extra-offer__bg {
      background-image: url("/img/gift-photo-mobile@2x.png");
    }
  }
}

.product-extra-offer__text {
  width: 165px;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 0px 0 0;
  margin: 0;
}


@media (min-width: @tablet) {
  .product-extra-offer {
    padding: 0 120px 0 89px;
    margin: 0 30px;
    flex-direction: row;
    box-sizing: border-box;
    height: 200px;
  }

  .product-extra-offer__text {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop) {
  .product-extra-offer {
    margin: 0;
    padding: 0;
    width: 245px;
    height: 287px;
  }

  .product-extra-offer__bg {
    width: 245px;
    height: auto;
  }
}
