.product {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  border-bottom: 1px solid @border-bottom;
  margin: 0 0 25px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 80px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.product__title br {
  display: none;
}

.product__info-wrapper {
  margin-bottom: 20px;
}

.product__info {
  padding: 0;
  border-collapse: collapse;
  width: 140px;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial Regular", sans-serif;
}

.product__td {
  padding: 0;
  text-align: right;
}

.product__button {
  margin-bottom: 25px;
  width: 100%;
  display: block;
}

.product__image {
  margin-top: -10px;
}

@media (min-width: @tablet) {
  .product {
    box-sizing: border-box;
    width: 324px;
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    padding: 0 38px 40px;
  }

  .product__title br {
    display: none;
  }

  .product__title {
    text-align: center;
    width: 135px;
    font-size: 20px;
    margin: 0 auto 25px;
  }

  .product__button {
    margin: 0;
    padding: 0;
  }

  .product__info {
    font-size: 16px;
    width: 250px;
  }

  .product__info tr {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
  }

  .product__info td {
    padding: 10px 0;
  }
}

@media (min-width: @desktop) {
  .product {
    margin: 0 0 50px;
    padding: 0 39px 40px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
  }

  .product__title {
    text-align: center;
    width: 135px;
  }

  .product__info {
    width: 169px;
  }

  .product__image {
    margin-top: -50px;
  }

  .product__info-wrapper {
    margin-bottom: 35px;
  }
}
