.product {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #ededed;
  padding: 0 20px 20px;
}

.product__button {
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
}

.product--showall {
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.product__descript--showall {
  margin: 0 0 20px;
}

.product__info {
  margin-top: 10px;
  width: 140px;
}

.product__header {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  width: 76px;
}

.product__header br {
  display: none;
}

.product__header--showall {
  margin: 0 auto;
  width: 280px;
  padding: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.product__descript {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 12px;
}

.product__image-showall {
  margin-bottom: 20px;
}

@media (min-width: @tablet) {
  .product {
    padding: 0 0 40px;
    border: none;
    box-sizing: border-box;
    width: 324px;
    background-color: @grey;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: -25px;
    margin-top: 165px;
  }

  .product--showall {
    background-color: white;
    border: 1px solid #e6e6e6;
    justify-content: space-between;
    padding: 50px 38px 40px;
  }

  .product__image {
    margin-top: -50px;
    width: 100%;
  }

  .product__image-showall {
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
  }

  .product__info {
    margin-bottom: 40px;
    width: 100%;
  }

  .product__header {
    font-size: 20px;
    text-align: center;
    width: 132px;
    margin: 0 auto 20px;
    padding: 0;
  }

  .product__header--showall {
    width: 140px;
    margin: 0 0 20px;
  }

  .product__descript {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 38px 0;
  }

  .product__descript--showall {
    border: none;
    text-align: center;
    width: 170px;
    margin: 0 0 auto;
    padding: 0;
  }

  .product__descript span {
    margin: 5px 0;
  }

  .product__pic-wrap {
    width: auto;
    height: 135px;
    display: flex;
    margin: 0;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .product__button {
    width: 249px;
  }
}

@media (min-width: @desktop) {
  .product {
    width: 245px;
    margin: 162px 0 -20px;
    padding: 15px 0 40px;
  }

  .product__header {
    margin-bottom: 20px;
  }

  .product__descript {
    padding-bottom: 2px;
  }

  .product__pic-wrap {
    width: auto;
    height: 135px;
    display: flex;
    margin: 0 0 5px;
    padding: 0;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .product__info {
    margin-bottom: 35px;
  }

  .product__button {
    width: 169px;
  }

  .product--showall {
    padding: 50px 38px 40px;
  }

  .product__image-showall {
    width: 60px;
    height: 60px;
    opacity: 0.3;
  }
}
