.product-extra {
  border-bottom: 1px solid @border-bottom;
}

.product-extra__title {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 15px 0 0 0;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

.product-extra__amount,
.product-extra__price {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial Regular", sans-serif;
  padding: 0;
}

.product-extra__price {
  text-align: right;
}

.product-extra__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-extra__button {
  margin: 0 0 15px 0;
  width: 100%;
  display: block;
}

@media (min-width: @tablet) {
  .product-extra {
    box-sizing: border-box;
    margin: 0 30px;
    padding: 0 39px;
  }

  .product-extra__title {
    width: 340px;
  }

  .product-extra__button {
    margin: 10px 0 25px;
  }
}

@media (min-width: @desktop) {
  .product-extra {
    display: flex;
    align-items: center;
    margin: 10px 0 0 30px;
    justify-content: space-between;
    border: none;
  }

  .product-extra__title {
    width: 325px;
    margin: 0;
  }

  .product-extra__button {
    width: 245px;
    margin: 0;
  }

  .product-extra__amount {
    width: 245px;
  }
}
