.product-extra {
  border-bottom: 1px solid @border-bottom;
}

.product-extra__title {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
}

.product-extra__amount,
.product-extra__price {
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial Regular", sans-serif;
  padding: 0 0 10px 0;
}

.product-extra__price {
  text-align: right;
}

.product-extra__table {
  width: 280px;
}

.product-extra__button {
  margin: 0 0 15px 0;
}
