.program {
  display: flex;
  flex-direction: column;
  background-color: @program-bgc;
  padding: 35px 20px 20px;
  margin: 0 0 20px;
}

.program__title::after {
  position: absolute;
  top: -10px;
  left: -67px;
  width: 52px;
  height: 52px;
  background-size: 52px 52px;
  content: "";
  background-image: url("/img/et.png");
  background-repeat: no-repeat;
  z-index: 0;
}

.program__title--slim,
.program__title--pro {
  position: relative;
}

.program__title--slim::before {
  position: absolute;
  top: -10px;
  left: -60px;
  width: 35px;
  height: 49px;
  content: "";
  z-index: 1;
  background-image: url("/img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.program__title--pro::before {
  position: absolute;
  top: 0;
  left: -77px;
  width: 67px;
  height: 28px;
  content: "";
  z-index: 1;
  background-image: url("/img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}


.program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 35px 70px;
  position: relative;
}

.program__descript {
  font-family: "Arial Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid @border-program-descript;
}

.program__link {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.program__link::after {
  position: absolute;
  top: 5px;
  left: 95px;
  width: 24px;
  height: 11px;
  content: "";
  background-image: url("/img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet) {
  .program {
    padding: 80px 50px 62px;
    margin: 0 0 30px;
  }

  .program__title {
    font-size: 36px;
    margin: 0 0 25px;
    padding-bottom: 10px;
  }

  .program__title::after {
    position: absolute;
    top: 10px;
    left: 400px;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    content: "";
    background-image: url("/img/et.png");
    background-repeat: no-repeat;
    z-index: 0;
  }

  .program__title--slim,
  .program__title--pro {
    position: relative;
  }

  .program__title--slim::before {
    position: absolute;
    top: -5px;
    left: 425px;
    width: 200px;
    height: 200px;
    content: "";
    z-index: 1;
    background-image: url("/img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  .program__title--pro::before {
    position: absolute;
    top: 55px;
    left: 365px;
    width: 268px;
    height: 112px;
    content: "";
    z-index: 1;
    background-image: url("/img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }


  .program__link::after {
    left: 135px;
    top: 5px;
  }

  .program__descript {
    font-size: 16px;
    line-height: 24px;
    width: 375px;
    margin: 0 0 55px;
    padding: 0;
    border: none;
  }

  .program__title--pro + .program__descript {
    width: 341px;
  }

  .program__link {
    font-size: 20px;
  }
}

@media (min-width: @desktop) {
  .program {
    box-sizing: border-box;
    width: 570px;
    padding: 80px 52px 60px;
  }

  .program__title {
    margin: 0 0 75px 160px;
  }

  .program__link::after {
    top: 5px;
    left: 135px;
  }

  .program__title::after {
    position: absolute;
    top: -30px;
    left: -160px;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    content: "";
    background-image: url("/img/et.png");
    background-repeat: no-repeat;
    z-index: 0;
  }

  .program__descript {
    margin-bottom: 30px;
    width: auto;
  }

  .program__title--pro + .program__descript {
    width: 465px;
  }

  .program__title--slim,
  .program__title--pro {
    position: relative;
  }

  .program__title--slim::before {
    position: absolute;
    top: -35px;
    left: -143px;
    width: 70px;
    height: 97px;
    content: "";
    z-index: 1;
    background-image: url("/img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  .program__title--pro::before {
    position: absolute;
    top: -10px;
    left: -175px;
    width: 137px;
    content: "";
    z-index: 1;
    background-image: url("/img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}
