.program {
  display: flex;
  flex-direction: column;
  background-color: @program-bgc;
  padding: 35px 20px 20px;
  margin: 0 0 19px;
}

.program__title::after {
  position: absolute;
  top: -11px;
  left: -68px;
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  content: "";
  background-image: url("../img/et.png");
  background-repeat: no-repeat;
  z-index: 0;
}

.program__title--slim,
.program__title--pro {
  position: relative;
}

.program__title--slim::before {
  position: absolute;
  top: -12px;
  left: -60px;
  width: 35px;
  height: 49px;
  content: "";
  z-index: 1;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.program__title--pro::before {
  position: absolute;
  top: 0;
  left: -77px;
  width: 67px;
  height: 28px;
  content: "";
  z-index: 1;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}


.program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 36px 70px;
  position: relative;
}

.program__descript {
  margin: 0 0 20px;
  padding: 0 0 20px;
  width: 235px;
  border-bottom: 1px solid @border-program-descript;
}

.program__descript br {
  display: none;
}

.program__link {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.program__link::after {
  position: absolute;
  top: 5px;
  left: 95px;
  width: 30px;
  height: 11px;
  content: "";
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.program__link:hover::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.program__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet) {
  .program {
    padding: 80px 50px 63px;
    margin: 0 0 32px;
  }

  .program__title {
    font-size: 36px;
    margin: 0 0 21px;
    padding: 2px 0 8px 3px;
  }

  .program__title::after {
    position: absolute;
    top: 10px;
    left: 397px;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    content: "";
    background-image: url("../img/et.png");
    background-repeat: no-repeat;
    z-index: 0;
  }

  .program__title--slim,
  .program__title--pro {
    position: relative;
  }

  .program__title--slim::before {
    position: absolute;
    top: -3px;
    left: 426px;
    width: 195px;
    height: 195px;
    content: "";
    z-index: 1;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  .program__title--pro::before {
    position: absolute;
    top: 54px;
    left: 361px;
    width: 268px;
    height: 112px;
    content: "";
    z-index: 1;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }


  .program__link::after {
    left: 135px;
    top: 5px;
  }

  .program__link--pro::after {
    left: 129px;
  }

  .program__descript {
    font-size: 16px;
    line-height: 24px;
    width: 375px;
    margin: 0 0 57px;
    padding: 0 0 0 3px;
    border: none;
  }

  .program__descript br {
    display: block;
  }

  .program__title--pro + .program__descript {
    width: 341px;
  }

  .program__link {
    padding: 0 0 0 3px;
    font-size: 20px;
  }
}

@media (min-width: @desktop) {
  .program {
    box-sizing: border-box;
    width: 570px;
    padding: 82px 52px 62px;
  }

  .program__title {
    margin: 0 0 70px 161px;
  }

  .program__link {
    width: 180px;
  }

  .program__link::after {
    position: absolute;
    top: 5px;
    left: 132px;
    width: 30px;
  }

  .program__title::after {
    position: absolute;
    top: -35px;
    left: -161px;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    content: "";
    background-image: url("../img/et.png");
    background-repeat: no-repeat;
    z-index: 0;
  }

  .program__link--pro::after {
    left: 127px;
  }

  .program__descript {
    margin-bottom: 32px;
    width: auto;
  }

  .program__descript br {
    display: none;
  }

  .program__title--pro + .program__descript {
    width: 465px;
  }

  .program__title--slim,
  .program__title--pro {
    position: relative;
  }

  .program__title--slim::before {
    position: absolute;
    top: -40px;
    left: -147px;
    width: 70px;
    height: 97px;
    content: "";
    z-index: 1;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  .program__title--pro::before {
    position: absolute;
    top: -13px;
    left: -180px;
    width: 137px;
    content: "";
    z-index: 1;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}
