.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 130px;
  padding: 25px 0;
}

@media (min-width: @tablet) {
  .social {
    padding: 0;
  }
}
