.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 130px;
  padding: 25px 0;
}

@media (min-width: @tablet) {
  .social {
    padding: 0 0 0 12px;
  }

  .social__icon--vk{
    width: 30px;
    height: 16px;
  }

  .social__icon--in{
    width: 23px;
    height: 23px;
  }

  .social__icon--fb{
    width: 14px;
    height: 28px;
  }
}
